footer { text-align: center; margin-bottom: 50px; }
#page-content {
    background-color: rgb(192, 192, 192);
    box-shadow: 0 5px 30px black;
    width: calc(100% - 20px);
    max-width: 1000px;
    display: block;
    margin: auto;
    color: black;
    text-align: center;
    border: 10px solid rgb(255, 255, 255);
    margin-bottom: 200px;
}
.top-img { 
    background-color: white;
    width: 100%;
}
#page-content img { 
    max-width: 100%;
    background-color: white;
}
.fancy-text {
    font-family: 'Katibeh';
    font-size: 3em;
}
.section-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
    column-gap: 30px;
    margin: 0 20px 20px 50px;
}
.section-item {
    background-color: white;
    clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
    padding: 20px;
    transition-duration: 0.5s;
}
.section-item:hover {
    /* transform: rotate(2deg); */
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    transform: translateY(-20px);
    transition-duration: 0.25s;
}
.content-section > h2, .project-section > h2 {
    font-weight: 900 !important;
    font-size: 2em;
}
.section-item > div > h3 {
    margin: 0;
}
.section-item > div > h2 {
    margin-top: 0;
    margin-bottom: 5px;
}
.section-item > img {
    margin: 0 20px;
    max-width: calc(100% - 40px);
    max-height: 150px;
}
.section-item > div > hr {
    width: 80%;
}
.section-item > div > p, .blog-p {
    text-align: left;
    margin: 10px;
}
.subtitle {
    color: gray;
    font-weight: 600;
    text-align: center !important;
}

.project h3 {
    font-size: 2em;
}
.website-imgs img {
    height: 400px;
    margin: 10px;
    opacity: 80%;
    transition-duration: 0.5s;
}
.website-imgs img:hover {
    opacity: 100%;
    transition-duration: 0.25s;
}
.project-descr {
    background-color: white;
    text-align: left;
    width: 80%;
    padding: 20px;
    display: block;
    margin: auto;
    margin-bottom: 30px;
}

@media only screen and (min-width: 700px) {
    .section-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 30px;
        column-gap: 30px;
        margin: 0 20px 20px 50px;
        margin-bottom: 100px;
    }
    .centre-item { grid-column: 1 / span 2; }
    .normal-width-item { 
        width: 400px;
        display: block;
        margin: auto;
    }
}